
  body{
    background-image:url(nycwindow.jpg);
    background-size: cover;
    background-attachment: fixed;

body {
  margin:0;
  padding:0;
  background: url(nycwindow.jpg);
  background-size: cover;
  background-position: center;
}


div.form
{
    display: block;
    text-align: center;
}

form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}



ul {
  position: fixed;
  top:0;
  width:50%;
}
